/* css styles */
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap");

p,
main li:not(.breadcrumb-item) {
  font-family: "Gelasio", serif;
}

#quarto-header {
  backdrop-filter: blur(1rem);
}

header:not(.headroom--frozen) .navbar,
header:not(.headroom--frozen) .quarto-secondary-nav {
  background-color: #ffffff5f;
  transition: background-color 0.25s ease;
}

.resp-fig {
  float: right;
  margin-left: 0.5rem;
}

@media (max-width: 48rem) {
  .resp-fig {
    width: 100%;
    height: auto;
    padding-inline: 1rem;
  }
}

.math.display {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

/* print styles */
@media print {
  #quarto-margin-sidebar {
    display: none;
  }
  #quarto-content {
    grid-template-columns: auto;
    margin: 1rem;
  }
  #quarto-header {
    display: none;
  }
  #title-block-header h1 {
    font-size: calc(2rem + 0.9vw)
  }
  nav.quarto-page-breadcrumbs {
    display: block !important;
  }
  #title-block-header .subtitle {
    display: none;
  }
}